.menu-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.menu-wrapper .big-banner {
  display: flex;
  width: 80%;
  height: auto;
  background-color: white;
  padding: 5%;
  padding-left: 3.5%;
  padding-right: 3.5%;
  border-radius: 2rem;
  position: relative;
  box-shadow: 0.15rem 0.12rem 0.3rem 0.12rem var(--shadow);
  text-decoration: none;
  color: inherit;
  margin-bottom: 4rem;
}

.menu-wrapper .big-banner h3 {
  font-size: 3rem;
  width: 25%;
  padding-left: 1rem;
  font-weight: 800;
  color: #6175a7;
}

.menu-wrapper #customcake1 {
  position: absolute;
  width: 30%;
  height: auto;
  right: -0%;
  top: -30%;
}

.menu-wrapper #customcake2 {
  position: absolute;
  width: 20%;
  height: auto;
  right: 28%;
  top: -15%;
}

.menu-wrapper .big-banner .content {
  text-indent: 5%;
  font-size: 1.2rem;
  width: 75%;
  position: relative;
}

.menu-wrapper #logosvg {
  position: absolute;
  transform: scale(0.35);
  left: -50%;
  top: -50%;
}

.menu-wrapper #cakepop1 {
  height: 100%;
  transform: scale(0.55) rotate(25deg);
  position: absolute;
  left: -11%;
  top: -20%;
  border: 2px;
}

.menu-wrapper #cakepop2 {
  position: absolute;
  height: 100%;
  transform: scale(0.6) rotate(-20deg);
  right: -10%;
  bottom: -25%;
}

.menu-wrapper .banner-container {
  width: 80%;
  display: flex;
  /* border: 2px solid; */
  gap: 3%;
}

.menu-wrapper .banner {
  width: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 4%;
  padding-top: 0;
  align-items: center;
  border-radius: 3rem;
  box-shadow: 0.15rem 0.12rem 0.3rem 0.12rem var(--shadow);
}

.menu-wrapper .banner img {
  width: 40%;
  height: auto;
  transform: translateY(-15%) scale(1.3);
}

.menu-wrapper .banner h1 {
  font-weight: 800;
  color: #6175a7;
}

.menu-wrapper .banner p {
  text-indent: 1rem;
  margin-bottom: 2%;
}

.menu-wrapper .banner .icon {
  margin-top: auto;
  font-size: 2rem;
  color: #6175a7;
  transform: translateY(20%);
}

.menu-wrapper .cakepop-grid {
  width: 100%;
  height: auto;
  display: grid;
  row-gap: 3%;
  column-gap: 2%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1.5fr 1fr 1fr 1fr;
  grid-template-areas:
    "img img dough dough"
    "img img coating decor"
    "img img coating decor"
    "img img coating decor";
}

.menu-wrapper .cakepop-grid > * {
  border-radius: 2rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--darkPrimary);
  cursor: pointer;
}

.menu-wrapper .cakepop-grid > *:hover {
  background-color: var(--darkPrimary);
  color: white;
  transition: 300ms;
}

.menu-wrapper #img-grid-element {
  grid-area: img;
  aspect-ratio: 1/1;
  background-image: url("/public/img/cakepopppp.png");
  background-position: center;
  background-size: cover;
  cursor: default;
}

.menu-wrapper #dough-grid-element {
  grid-area: dough;
}

.menu-wrapper #coating-grid-element {
  grid-area: coating;
}

.menu-wrapper #decor-grid-element {
  grid-area: decor;
}
