.bulletin-wrapper {
  width: 100%;
  margin-top: 4rem;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
}

.bulletin-wrapper .bulletin-header {
  width: 100%;
  background-color: #f5bec4;
  display: flex;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bulletin-wrapper .header-title {
  background-color: #f4a1ae;
  font-size: 2rem;
  font-weight: bold;
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem 1.5rem 0 0;
  margin-bottom: -2px;
}

.bulletin-wrapper .bulletin-header .star-wrapper {
  background-color: #f4a1ae;
  height: 100%;
  width: 5%;
  font-size: 150%;
}

.bulletin-wrapper .bulletin-header .star-wrapper-before {
  height: 100%;
  width: 100%;
  background-color: #f5bec4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bulletin-wrapper .bulletin-header .left {
  border-radius: 0 0 40% 0;
}

.bulletin-wrapper .bulletin-header .right {
  border-radius: 0 0 0 40%;
}

.bulletin-wrapper .bulletin {
  background-color: #f4a1ae;
  border-radius: 5%;
  width: 100%;
  height: 40rem;
  padding: 5%;
  display: grid;
  grid-template-columns: 55% 42%;
  grid-template-rows: 35% 35% 25%;
  column-gap: 3%;
  row-gap: 5%;
  grid-template-areas:
    "cake discount"
    "cake discount"
    "cake tiktok";
}

.bulletin-wrapper .bulletin .cake-banner {
  position: relative;
  grid-area: cake;
}

.bulletin-wrapper .bulletin .img-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 5%;
  border: 0.7rem solid white;
  display: flex;
  overflow: hidden;
  box-shadow: 0.15rem 0.12rem 0.1rem 0.12rem #f28da1;
  background-color: #f5bec4;
  cursor: pointer;
}

.bulletin-wrapper .bulletin .img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.3) translateY(5%);
}

.bulletin-wrapper .bulletin .cake-banner h1 {
  left: 10%;
  top: -5%;
}

.bulletin-wrapper .bulletin .outline {
  color: #6276a8;
  position: absolute;
  font-size: 2rem;
  font-weight: bold;
  -webkit-text-stroke: 0.7rem white;
  font-family: "Gulfs-R";
}

.bulletin-wrapper .bulletin .title {
  color: #6276a8;
  position: absolute;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Gulfs-R";
}

.bulletin-wrapper .bulletin .discount-banner {
  grid-area: discount;
  /* background-color: yellow; */
  /* border-radius: 5%; */
  /* border: 0.7rem solid; */
  position: relative;
}

.bulletin-wrapper .bulletin .discount-banner h1 {
  left: 10%;
  top: -7%;
}

.bulletin-wrapper .bulletin .tiktok-banner {
  grid-area: tiktok;
  background-color: #b7e0f1;
  border-radius: 10rem;
  box-shadow: 0.15rem 0.12rem 0.1rem 0.12rem #f28da1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.bulletin-wrapper .bulletin .tiktok-banner .logo {
  background-color: #6276a8;
  font-size: 5rem;
  padding: 1rem;
  border-radius: 50%;
}

.bulletin-wrapper .bulletin .name-wrapper h3 {
  color: #6276a8;
}
