.middle .info-container {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.info-container > :not(:last-child) {
  border-bottom: 0.1rem solid;
}

.info-element {
  display: flex;
  width: 100%;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
