.middle .info-container {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.middle .info-container > :not(:last-child) {
  border-bottom: 0.1rem solid;
}

.middle .info-element {
  display: flex;
  width: 100%;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.middle .payment-container {
  margin-top: 1rem;
  border: 0.12rem solid;
  border-radius: 1.5rem;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.middle .payment-el {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  height: 2.9rem;
  border-bottom: 0.1rem solid;
}

.middle .payment-el p {
  font-size: 1rem;
}

.middle .payment-el input {
  font-size: 1rem;
  border: none;
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  background-color: #ebebeb;
  cursor: pointer;
}

.middle .payment-el textarea:focus,
.middle .payment-el input:focus {
  outline: none;
}

.middle .payment-content {
  height: 0;
  overflow: hidden;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.15s ease-in-out;
}

.method-header {
  padding-top: 1%;
  padding-bottom: 1%;
}
