.middle .info-container {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.info-container > :not(:last-child) {
  border-bottom: 0.1rem solid;
}

.info-element {
  display: flex;
  width: 100%;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.middle .payment-container {
  border: 2px solid;
  width: 100%;
  height: auto;
}

.payment-el {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  height: 2.5rem;
  border-bottom: 0.1rem solid;
}

.payment-el p {
  font-size: 1rem;
}

.payment-el input {
  font-size: 1rem;
  border: none;
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  background-color: #ebebeb;
}

.payment-el textarea:focus,
.payment-el input:focus {
  outline: none;
}

.payment-content {
  height: 0;
  overflow: hidden;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.15s ease-in-out;
}
