@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Gulfs-R";
  src: url("../fonts/Gulfs Display Extra Expanded Italic.ttf")
    format("truetype");
}

@font-face {
  font-family: "Gulfs-I";
  src: url("../fonts/Gulfs\ Display\ Expanded.ttf") format("truetype");
}

*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  max-width: 100%;
  overflow-x: hidden;
  scrollbar-width: thin;
}

img {
  pointer-events: none;
}

.wrapper {
  background-color: var(--primary);
  padding-top: 1rem;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.App {
  width: min(85%, 75rem);
  height: 100%;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
}

:root {
  --primary: #f5bec4;
  --darkPrimary: #f4a1ae;
  --shadow: #f4a1ae;
  --footer: #f5bec4;
  font-size: 0.9rem;
}

@media only screen and (max-width: 1400px) {
  .icons-bar-wrapper {
    display: none;
  }
}

@media only screen and (max-width: 1241px) {
  :root {
    font-size: 1.3vw;
  }

  .App {
    width: min(95%, 75rem);
  }
}

/* @media only screen and (max-width: 480px) {
  :root {
    font-size: 2vw;
  }
} */

@media only screen and (max-width: 320px) {
  :root {
    font-size: 4px;
  }
}
