.header {
  display: flex;
  align-items: center;
  color: #ffffff;
}

.header .homepage {
  font-size: 6rem;
  font-weight: 400;
  font-family: "Gulfs-R";
  text-shadow: 5px 5px 3px var(--shadow);
}

.header a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  margin-top: 0.5rem;
  display: flex;
  padding: 0.5rem;
  height: 3.5rem;
  justify-content: center;
  gap: 10%;
  background-color: #ffffff;
  border-radius: 10rem;
  box-shadow: 0.15rem 0.12rem 0.3rem 0.12rem var(--shadow);
  margin-bottom: 2rem;
}

.navbar button {
  width: 15%;
  font-size: 120%;
  border: none;
  border-radius: 10rem;
  background-color: #ffffff;
  color: var(--shadow);
  font-weight: 600;
}

.navbar button:hover {
  background-color: var(--shadow);
  color: #ffffff;
  text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc;
  font-size: 140%;
  cursor: pointer;
}

.header section {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10%;
  width: 30%;
}

.header section .icon {
  font-size: 2.5rem;
}

.header section div > * + * {
  margin-left: 0.5rem;
}

.header-s {
  display: none;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////// */

@media only screen and (max-width: 480px) {
  .header-l {
    display: none;
  }

  .header-s {
    display: block;
    background-color: white;
    width: 105.4%;
    margin-left: -2.7%;
    padding: 0 5%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
  }

  .wrapper {
    padding-top: 0;
  }

  .header-s .homepage {
    color: var(--darkPrimary);
    text-shadow: none;
  }

  .header section .icon {
    display: flex;
    font-size: 3.5rem;
    color: var(--darkPrimary);
  }

  .nav-overlay {
    position: absolute;
    background-color: black;
    opacity: 0.35;
    width: 100%;
    height: 100vh;
    z-index: 5;
    top: 0;
    left: 0;
  }

  nav {
    width: 45%;
    height: 100vh;
    position: absolute;
    opacity: 1;
    background-color: var(--primary);
    color: white;
    right: 0;
    top: 0;
    z-index: 6;
    display: flex;
    flex-direction: column;
    padding: 5% 4%;
    transition: all linear 0.2s;
    transform-origin: right;
  }

  nav button {
    font-size: 3rem;
    margin-top: 1.5rem;
    font-weight: 600;
  }
}
