.header {
  display: flex;
  align-items: center;
  color: #ffffff;
}

.header h1 {
  font-size: 5rem;
  font-weight: 400;
  font-family: "Gulfs-R";
  text-shadow: 5px 5px 3px #f4a1ae;
}

.header a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  margin-top: 0.5rem;
  display: flex;
  padding: 0.5rem;
  height: 3.5rem;
  justify-content: center;
  gap: 20%;
  background-color: #ffffff;
  border-radius: 10rem;
  box-shadow: 0.15rem 0.12rem 0.1rem 0.12rem #f4a1ae;
}

.navbar button {
  width: 15%;
  font-size: 120%;
  border: none;
  border-radius: 10rem;
  background-color: #ffffff;
  color: #f4a1ae;
  font-weight: 600;
}

.navbar button:hover {
  background-color: #f4a1ae;
  color: #ffffff;
  text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc;
  font-size: 140%;
  cursor: pointer;
}

.header section {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10%;
  width: 30%;
}

.header section .icon {
  font-size: 2.5rem;
}

.header section div > * + * {
  margin-left: 0.5rem;
}
