.icons-bar-wrapper {
  position: fixed;
  transform: translate(-130%, 50vh);
  z-index: 2;
}

.icons-bar-wrapper .icons-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  color: #ffffff;
  background-color: #6276a8;
  padding: 0.7rem;
  border-radius: 25rem;
  margin-left: auto;
  box-shadow: 0.12rem 0.05rem 0.2rem 0.05rem #f4a1ae;
}
