.products {
  background-color: #f5bec4;
  color: white;
  width: 100%;
  height: auto;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.products-container {
  display: flex;
  gap: 3%;
  justify-content: center;
}

.product {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.product-info {
  width: 100%;
  display: flex;
  background-color: white;
  position: relative;
  border-radius: 15%;
  box-shadow: 0.12rem 0.05rem 0.1rem 0.05rem #f4a1ae;
  cursor: pointer;
}

.product img {
  width: 100%;
  aspect-ratio: 1/1;
  transform: scale(0.8) translateY(-6%);
}

.product h5 {
  position: absolute;
  width: 100%;
  bottom: 5%;
  text-align: center;
  color: rgb(70, 64, 64);
  font-size: 1.5rem;
  font-weight: 400;
}

.price-container {
  display: flex;
  margin-top: 1rem;
  font-size: 1.6rem;
}

.price-container .icon {
  font-size: 150%;
  cursor: pointer;
  display: flex;
  color: inherit;
  border: none;
  background-color: inherit;
}
