.slider {
  margin: auto;
  width: 100%;
  height: 22rem;
  display: flex;
  align-items: center;
  margin-top: 1.7rem;
  position: relative;
  cursor: pointer;
}

.slider .img-container {
  width: 100%;
  height: 100%;
  position: absolute;
  /* border: 2px solid black; */
}

.slider img {
  animation: step-start;
  transition: all 2s;
  width: 100%;
  height: 100%;
}

.slider .arrow {
  position: relative;
  font-size: 2rem;
  opacity: 0%;
  height: 100%;
}

.slider:hover .arrow {
  transition: 0.2s;
  opacity: 100%;
}

.slider .left {
  margin-right: auto;
}

.slider .right {
  margin-left: auto;
}

.dotContainer {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  font-size: 2rem;
  gap: 2%;
  justify-content: center;
  align-items: flex-end;
}

.dotContainer > * {
  text-shadow: -1px 0 1px rgb(204, 204, 204), 0 1px 1px rgb(204, 204, 204),
    1px 0 1px rgb(204, 204, 204), 0 -1px 1px rgb(204, 204, 204);
}
